asgiref==3.10.0
branca==0.8.2
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.8
folium==0.20.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.0
python-dotenv==1.2.2
requests==2.32.5
sqlparse==0.5.3
urllib3==2.6.1
xyzservices==2025.11.0
